:root{
    --primary-color: #fff;
    --text-color: var(--primary-color);
    --theme-color-1: #15689B;
    --theme-color-2: #52FA55;
    --theme-color-3: #D64642;
    --theme-color-4: #DFBB39;
    --background-color: #181818;
}


/*
    Exemplo d eutilização de var em CSS
    background-color: var(--background-color); 
*/

*{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}