<div class="navbar">
    <div class="logo">
        <a href="/"><img src="../../../../assets/logo/noname.png" alt="Logo Simplify"></a>
    </div>
    <div class="buttons">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">Sobre nós</a>
            </li>
            <li>
                <a href="/servicos">Serviços</a>
            </li>
            <li>
                <a href="/solicitacao">Acompanhar solicitações</a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <ng-content></ng-content>
</div>