
.btn{
    width: 200px;
    margin-right: 40px;
    height: 50px;
    border-radius: 6px;
    font-size: 1.5rem;
    color: #050505;
    cursor: pointer;
    background: linear-gradient(90deg, #15689B 0%, #5263FA 100%);
    
}
.btn-1{
    background: transparent;
    border:2px solid white;
    color: whitesmoke;
}


