.inp{
    width: 70%;
    height: 40px;
    border-bottom: 1px solid black ;
    border-radius: 7px;
    color: black;
    font-weight: 600;
    align-items: center;
    text-align: center;
    font-size: 0.5;
    transition: ease-in-out;
    transition: 0.5s;
}

/*Label*/
.label-inp{
    display: flex;
    font-family: Arial, "Roboto";
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2px;
}
.label-inp-white{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.inp-form{
    width: 100px;
    height: 50px;
    border: 0;
    margin-bottom: 5%;
    border-bottom: 2px solid #15689B;
    color:white;
    align-items: center;
    text-align: center;
    font-size: 0.5;
    transition: ease-in-out;
    transition: 0.5s;
    background-color: #292929;
}
.login{
    margin-right: 50%;
}
.login-inp{
    width: 221px;
}
.nome-cad{
    height: 20px;
}
.cadastro-inp{
    height: 20px;
    width: 200px;
   
}
.uf-inp{
    width: 50px;
    height: 20px;
    margin-left: 20%;
}