.container{
    display: flex;
    width: 100%;
    margin-bottom: 10%;
}

.about1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 200px;
}   
.about1 .title{
    font-size: clamp(4.4rem, 1vw + 1rem,3.8rem); /*`clamp(min, valorPreferido, max)`*/
    color: var(--text-secondary);
    font-weight: 600;
    width: 100%;
    letter-spacing: 2px;
    font-family: "roboto" sans-serif;
}
.about1 p{
    font-size: clamp(1rem, 1vw + 0.3rem,1.5rem);
    width: 100%;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--text-primary);
}
.container-img{
    display: flex;
    width: 50%;
    justify-content: center;
}

@media only screen and (max-width: 850px){
    
    .container{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5%;

    }
    .about1{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}