.perfil-conteiner{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-left: 100px; /*Como não é um component precisamos indicar um espaçamento para a nav não sobre por */
    color: whitesmoke;
    background: #181818;
    height: 100vh;
    align-items: center;

}
.container-fluid{
    padding: 0;
}
.card-let{
    border: 1px solid white;
    height: 100%;
    padding: 0;
}
.banner{
    width: 100%;
    height: 20%;
    background-color: blueviolet;
    padding-top: 4rem;
    padding-left: 40px;
}
.profile {
    padding: 4rem;
}
.img-profile{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
}
.img-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.infos{
    padding-top: 2rem;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}
 main fieldset{
    border: 0;
    padding: 0 2.4rem;
}
 main fieldset + fieldset{
    margin-top: 6.4rem;
}
 main fieldset legend{
    font: 700 2.4rem "Roboto";
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-background);
}
form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #000;
    font-family: Arial;
  }

  
#form{
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: 60px;
    width: 500px;
    height: 200px;
    border: 4px dashed #000;
  }
  button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.4s;
    margin-top: 3.2rem;
  }

@media only screen and (max-width: 720px){
    #form {
    top: 0;
    left: 0;
    margin: 1rem auto;
    width: -webkit-fill-available;
    }
}