.perfil-conteiner{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-left: 100px; /*Como não é um component precisamos indicar um espaçamento para a nav não sobre por */
    color: whitesmoke;
    background: #181818;
    height: 100vh;
    align-items: center;

}
.card-let{
    border: 1px solid white;
    height: 100%;
    padding: 0;
}
.banner{
    width: 100%;
    height: 20%;
    background-color: blueviolet;
    padding-top: 4rem;
    padding-left: 40px;
}
.profile {
    padding: 4rem;
}
.img-profile{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
}
.img-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.infos{
    padding-top: 2rem;
}
.solicitacoes{
    margin-top: 5%;
    border-radius: 10px;
    color: black;
    height: 90px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid blueviolet;
    background-color: #fff;
    align-items: center;
}