/* .container-timer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: #6649b8;
    height: 100%;
    color: var(--text-secondary);
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 7em;
    padding-top: 2em;
    width: 50%;
}
h2{
    margin-bottom: 0.5em;
    font-weight: 600;
}
.timer div:first-child p{
    color: var(--text-primary);
}
.timer .legend{
    text-align: center;
}
.timer .count{
    border: 1px solid #f8f8f7;
    font-size: 1.4em;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;
}
section p:first-child, .timer div:last-child span{
    font-size: 1em;
}
@media screen and (max-width: 480px){
    .timer div:last-child{
        margin-left: 2em;
        margin-right: 2em;
        padding: 3em 1em;
    }
} */