.modal-content {
    border-radius: 1rem;
    padding: 1rem;
}

.btn-none {
    display: none;
}

.modal-body > p {
    font-size: 14px;
    margin: 2rem auto;
}

.modal-title {
    font-size: 20px;
}

.close {
        width: inherit;
        height: inherit;
}

.btn-horarios {
    background-color: rebeccapurple;
    border: none;
    border-radius: 3px;
    padding: .5rem 2rem;
    font-size: 14px;
    color: white;
}

.btn-modal{
    width: 200px !important;
    height: 50px !important;
    border: none !important;
    border-radius: 6px !important;
    font-size: 1.5rem !important;
    color: #ffffff !important;
    margin-right: 0 !important;
    background: rebeccapurple !important;
}

.horarios-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 720px) {
    .btn-modal {
        margin: auto !important;
    }
}