.prelogin-container {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.prelogin-welcome {
    color: var(--color-title-in-primary);
    text-align: center;
    font-size: 20pt;
    margin-bottom: 1rem;
}

.prelogin-title {
    color: var(--color-title-in-primary);
    text-align: center;
    font-size: 25pt;
    margin-bottom: 7rem;
}

.prelogin-title p {
    margin-bottom: 0;
}

.prelogin-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.prelogin-link:hover {
    text-decoration: none;
}

.prelogin-link > p {
    font-size: 20pt;
    margin: 3rem auto;
    color: var(--color-title-in-primary);
}

.prelogin-img {
    width: 25vw;
    border-radius: 2%;
}

@media only screen and (max-width: 700px) {
    .prelogin-img {
        width: 35vw;
    }
    .prelogin-link > p {
        margin: 1.5rem auto;
    }
}